<style>

    a { /*Text color of hyperlinks*/
        color: #3E1B24;
        padding: 1px 10px;
        font-weight: bold;
        text-decoration: none;
        font-size: 30px;
    }

        a:hover {
            background-color: #FFD5A7;
        }

        a.body-link {
            color: #3E1B24;
            background-color: #FFD5A7;
            border-radius: 5px;
            padding: 5px, 5px;
        }

            a.body-link:hover {
                background-color: #3E1B24;
                color: #FFD5A7;
            }
</style>

<div>
    <a href="/Expense/InsertExpense" class="body-link">Add Expense</a>
</div>

