@using TestBudgeting.Models;
@using TestBudgeting.Models.Expense;
@model IEnumerable<Expense>

<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<h1 style="text-align: center; color: #FFD5A7; font-weight: bold; font-size: 40px; margin-bottom: 20px; background-color: #3E1B24;">Select Budget and Month To Check</h1>

@using (Html.BeginForm("ViewBudget", "Expense", "Post"))
{

    <div class="form-group">
        <label for="">Select a Budget</label>
        <select class="form-control" name="Budget">
            <option value=""></option>
            @foreach (var exp in Model)
            {
                <option value="@exp.Budget">@exp.Budget </option>
            }
        </select>
    </div>
    <div class="form-group">
           <select class="form-control" name="Month">
            <option value=""></option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>

        </select>
    </div>

    <input type="submit" value="View Total Spent" class="btn btn-primary" />


}
<div asp-validation-summary="All" class="text-danger"></div>
