@using TestBudgeting.Models.Home.Budget
@model BudgetV

<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>

    <h1 style="text-align: center; color: #FFD5A7; font-weight: bold; font-size: 40px; margin-bottom: 20px; background-color: #3E1B24;">Update Budget</h1>

    @using (Html.BeginForm("UpdateBudgetAmountToDatabase", "Budget", "Post"))
    {
        <div style="text-align: center;">
            <input asp-for="DistinctBudgets" type="hidden" value="@Model.DistinctBudgets" />

            <label asp-for="BudgetAmount" class="control-label" style="display: block;">New Amount</label>
            <input type="number" name="BudgetAmount" class="form-control" value="@Model.BudgetAmount" style="margin: 0 auto; text-align: center;" />

            <button type="submit" class="hyperlink-top">Update Budget</button>
        </div>
    }
<!-- This is the Delete Button -->
@using (Html.BeginForm("DeleteBudget", "Budget", "Post"))
{
    <input type="hidden" asp-for="DistinctBudgets" value="@Model.DistinctBudgets" />
        <input class="hyperlink-top" onclick="return confirm('Are you sure?')" value="Delete this Budget" />
}
</body>