@using TestBudgeting.Models
@model IEnumerable<Budget>

<!--New Budget Button-->
<div style="display: block">
    <a href="/Budget/InsertBudget" style="color: #3E1B24; font-size: 20px; background-color: #FFD5A7; border-radius: 5px; padding: 5px 10px; font-weight: bold; display: inline-block; text-align: right;">New Budget</a>
</div>


<style>
    td {
        background-color: #3E1B24;
        color: #FFD5A7;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

        td:nth-child(3) {
            text-align: left;
        }
</style>
<!--Each Budget/Amount as table-->
        @foreach (var budget in Model)
        {
    <table class="table table-condensed" id="expenseTable">
        <tbody>
            <tr>
                <td>@budget.DistinctBudgets</td>
                <td><a href="/Budget/UpdateAmount/@budget.DistinctBudgets">@budget.BudgetAmount</a></td>
            </tr>
        </tbody>
    </table>
        }
