
header {
    background-color: #3E1B24;
    font-size: 20px;
}

body {
    background-color: #3E1B24;
    color: #3E1B24;
    font-size: 20px;
}

a {
    color: #3E1B24;
    background-color: #FFD5A7;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
}

    a:hover {
        background-color: #3E1B24;
    }
